<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConStr" connectionString="Data Source=MYSGECSQLDB02;Integrated Security=true;Initial Catalog=SolvedCaseStudy" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>

    <customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly">
      <error statusCode="404" redirect="PageNotFound.htm"/>
    </customErrors>

  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
